<%- include('../partials/header') %>
<section id="show-page">
    <div>Airline: <%= flight.airline %></div>
    <div>Departure Airport: <%= flight.airport %></div>
    <div>Flight Number: <%= flight.flightNo %></div>
    <div>Departure Date & Time: <%= flight.departs %></div>
    <a href="/flights/<%= flight._id %>/tickets/new"><button>Add Ticket</button></a> 
</section>

<% if (ticket.length > 0) { %>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% ticket.forEach(function(t) { %>
        <tr>
          <td><%= t.seat %></td>
          <td><%= t.price %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No ticket information to be found. Try adding a ticket.</h5>
<% } %>

<br><br><h2>Add a Destinations</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:</label>
  <select name="airport">
    <option value="ORD">ORD</option>
    <option value="JFK">JFK</option>
    <option value="SFO">SFO</option>
    <option value="LAX">LAX</option>
    <option value="DFW">DFW</option> 
    <option value="MIA">MIA</option> 
</select>
  <label>Arrival Date & Time:</label>
  <input type="date" name="Destination">
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Destination Airport</th>
          &nbsp;|&nbsp;
          <th>Destination Date</th>
        </tr>
      </thead>
      <tbody> 
      <% flight.destinations.forEach(function(a) { %>
        <tr>
          <td><%= a.airport %></td>
         
          <td><%= a.arrival %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <h5>No destination information to be found. Try adding a destination.</h5>
    <% } %>

<%- include('../partials/footer') %>